{% extends 'base.html' %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
    {% block right_sidebar %}
        <div class="col-md-3 product-bottom">
                    <!--categories-->
                        <div class=" rsidebar span_1_of_left">
                                <h3 class="cate">Categories</h3>
                                     <ul class="menu-drop">
                                         {% for category in categories %}
                                            <li class="item1">
                                                <a href="">{{category.category_name}} </a>
                                                    <ul class="cute">
                                                        {% for subcategory in category.subcategory_set.all %}
                                                        <li class="subitem{{forloop.counter}}"><a href="{% url 'products_subcategory' category.category_name subcategory.subcategory_name %}">{{subcategory.subcategory_name}} </a></li>
                                                        {% endfor %}
                                                    </ul>
                                            </li>
                                         {% endfor %}
                                    </ul>
                            </div>
                        <!--initiate accordion-->
                                <script type="text/javascript">
                                    $(function() {
                                        var menu_ul = $('.menu-drop > li > ul'),
                                               menu_a  = $('.menu-drop > li > a');
                                        menu_ul.hide();
                                        menu_a.click(function(e) {
                                            e.preventDefault();
                                            if(!$(this).hasClass('active')) {
                                                menu_a.removeClass('active');
                                                menu_ul.filter(':visible').slideUp('normal');
                                                $(this).addClass('active').next().stop(true,true).slideDown('normal');
                                            } else {
                                                $(this).removeClass('active');
                                                $(this).next().stop(true,true).slideUp('normal');
                                            }
                                        });

                                    });
                                </script>
        <!--//menu-->
        <!--tag-->
                        <div class="tag">
                                <h3 class="cate">Tags</h3>
                            <div class="tags">
                                <ul>
                                    {% for tag in tags %}
                                    <li><a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                <div class="clearfix"> </div>
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
        </div>
    {% endblock %}
{% endblock %}
