{% extends 'products/base_product.html' %}

{% block content %}
    <div class="single">
        <div class="container">
            <div class="col-md-9">
            <div class="col-md-5 grid">
                <div class="flexslider">
                      <ul class="slides">
                          {% for image_item in product.productimage_set.all %}
                        <li data-thumb="{{ image_item.image.url }}">
                            <div class="thumb-image"> <img src="{{ image_item.image.url }}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                          {% endfor %}
                      </ul>
                </div>
            </div>
        <div class="col-md-7 single-top-in">
                                <div class="single-para simpleCart_shelfItem">
                                    <h2>{{product.name}}</h2>
                                    <p>{{product.description}}</p>
                                    <div class="star-on">
                                        <ul>
                                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                        </ul>
                                        <div class="review">
                                            <a href="#"> 3 reviews </a>/
                                            <a href="#">  Write a review</a>
                                        </div>
                                    <div class="clearfix"> </div>
                                    </div>

                                        <label  class="add-to item_price">${{product.price}}</label>

                                    <div class="available">
                                        <h6>Available Options :</h6>
                                        <ul>

                                        <li>Size:<select>
                                            <option>Large</option>
                                            <option>Medium</option>
                                            <option>small</option>
                                            <option>Large</option>
                                            <option>small</option>
                                        </select></li>
                                    </ul>
                                </div>
                                    <a class="cart item_add" data-id="{{ product.id }}">Add to cart</a>
                                </div>
                            </div>
                    <div class="clearfix"> </div>
        </div>
             {{ block.super }}
        </div>
    </div>

{% endblock %}