.form-checkout-order {
}
.form-checkout-order p {
    margin-bottom: 10px;
}
.form-checkout-order p > label {
    display: block;
    color: #7e7e7e;
    font-size: 1.2rem;
    padding: 0 0 5px 5px;
}
.form-checkout-order p > input {
    width: 50%;
    border: 1px solid #fa03bb;
}
.form-checkout-order p #id_total_price{
    width: 15%;
    border: none;
    font-size: 1.2rem;
}
.form-checkout-order p > #id_total_price:after {
    content: ' $';
    font-size: 1.2rem;
    color: #000;
}

.form-checkout-order p textarea{
    width: 100%;
    border: 1px solid #fa03bb;
}
.form-checkout-order p:last-child input{
    width: 30%;
    background-color: #fa03bb;
    color: #fff;
    border: 1px solid #7e7e7e;
}
.form-checkout-order p:last-child input:hover{
    background-color: #7e7e7e;
    border: 1px solid #fa03bb;
}
.comments h2{
    font-size: 1.8em;
    color: #fa03bb;
    line-height: 1.5em;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    padding: 10px 0;
}
.comments a {
    float: right;
    margin-top: 15px;
    padding: 10px;
    background-color: #fa03bb;
    font-size: 0.8rem;
    text-decoration: none;
    font-style: italic;
    color: #fff;
}
.comments a:hover {
    background-color: #7e7e7e;
}
.comment-item {
    border-bottom: 1px dotted #fa03bb;
}
.comment-item h4 {
    padding-top: 6px;
    font-size: 0.8rem;
    text-align: right;
}
.comment-item p {
    font-size: 0.8rem;
    font-style: italic;
    color: #7e7e7e;
    padding-left: 15px;
}